div.star-active
{		width:20px;
	height:17px;
	cursor: pointer;
}

div.star-empty
{
	background-image: url(images/empty.gif);
	width:20px;
	height:17px;
	overflow:hidden;
}

div.star-voted
{
	background-image: url(images/voted.gif);
	width:20px;
	height:17px;
	overflow:hidden;
}

div.star-over
{
	background-image: url(images/over.gif);
	width:20px;
	height:17px;
	overflow:hidden;
}
.vote-result {
color: #666;
font-size: 8pt;
line-height: 15pt;
padding-left: 5px;
}
