.terms .firm-list {
    margin-top: 1em;
}
.terms .firm-item {
    width:33%;
    float:left;
    display: inline-block;
    margin: 3px 0;
}
.terms .firm-logo {
    text-align: center;
    width:140px;
    height:130px;
    margin: 0 5px 5px 0;

    float: left;
}

.terms .firm-list {
    border:0;
	display: inline-block;
	width: 100%;
}