div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.theme-news .item {
    margin: 1% 1% 0;
    float:left;
    width:31%;
	height:auto;
    overflow: hidden;
}
.theme-news .item .item_img {
    width: 55px;
    height: 50px;
    float:left;
    margin: 0 5px 5px 0;
    overflow: hidden;

}
.theme-news .item img {
    max-width: 55px;
    max-height: 50px;
}